html {
  font-family: $family-sans-serif;
  font-size: 93.75%;

  scroll-behavior: smooth;

  @include tablet {
    font-size: 100%;
  }
} 


a:link,
a:visited {
  transition: color .25s ease;
  
  color: map-get($theme, light);
  
  text-decoration: none;

  cursor: pointer;
}