
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');



@import 'utils/variables';
@import 'utils/animations';
@import 'base/global';
@import 'vendors/bulma';
@import 'components/slider';
@import 'components/search-form';
@import 'components/flats-table';
@import 'components/flat-preview';
@import 'components/loader';

@import 'sections/header';


h1 {
  color: green;
  font-size: 124px;
}

.links a {
  color: #fff; 
}