// -----------  Bulma ovverides
$font-sans-serif: 'Montserrat', sans-serif;
$family-sans-serif: 'Montserrat', sans-serif;
$family-secondary: 'Montserrat', sans-serif;
// Table
$table-cell-padding: 1rem .5rem;


// Modal (flat preview)

$modal-content-width: 80%;