

// -----------  Bulma ovverides
$family-sans-serif: "Montserrat", sans-serif; 
$family-sans-serif: 'Montserrat', sans-serif;
$family-secondary: 'Montserrat', sans-serif;

$link: #AF1D22;
// Table
$table-cell-padding: 1rem .5rem;


// Modal (flat preview)

$modal-content-width: 80%; 

$theme: (
  accent: #AF1D22,
  light: #fff,
  gray: #555,
  dark: #032839,
  dark--lighten: #0E394B,
);


$layers: (
  nav: 200,
  nav-toggler: 1030,
  slogan: 10,
);

$easings: (
  easeOutEx: cubic-bezier(0.19, 1, 0.22, 1),
)
 