.search-form {
  display: flex;

  position: relative;
  
  padding: 1rem;

  background-color: map-get($theme, light);
  
  border: 1px solid #dddeee;

  box-shadow: 0 0 1rem rgba(36, 36, 36, 0.5);

  z-index: 10;

  .select option:first-child {
    margin-top: 1rem;
  }

  .field { 
    margin: 0 .5rem;
  }

  .input {
    &::placeholder {
      color: map-get($theme, gray);
    }

    // &:focus {
    //   &::placeholder {
    //     top: -30px;
    //   }
    // }
  
  }

  .label {
    font-size: .8rem;

    text-transform: uppercase; 
  }
}