.slider {
    position: relative;
    display: block;
    box-sizing: border-box;

    opacity: 0;

    transition: opacity .4s;

    &.initialized {
      opacity: 1;
    }


  &__wrapper {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    max-height: 80vh; 
  }

  &__track {
    position: relative;
    top: 0; 
    left: 0;
    max-height: 80vh; 
    display: block;
    margin-left: auto;
    margin-right: auto;


    transition: transform .5s cubic-bezier(0.215, 0.61, 0.355, 1);

    &.transition-off {
      transition: none;
    }

    &.fade {
      .slider__item.active {
        animation: fade-in .7s ease;
      }
    }

    &::before,
    &::after {
      display: table;
      content: '';
    }

    &::after {
      clear: both;
    }
    
  }

  &__item {
    max-height: 80vh; 
    float: left;
    height: 100%;
    min-height: 1px;

      font-size: 4rem;

      &--1 {
        background: url('../images/slider-1.jpeg') no-repeat center / cover;
      }
 
      &--2 {
        background: url('../images/slider-2.jpeg') no-repeat center / cover;
      }

      &--3 {
        background: url('../images/slider-3.jpeg') no-repeat center / cover;
      }

      &--active {
        .slogan__content {
          opacity: 1;
        }
      }
  }

  &-controls {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);

    z-index: 10;

    @include tablet {
      left: 34%;
    }
  }
  
  &__arrow {
    appearance: none;
    background: none;
    outline: 0;
    transition: opacity .25s ease;

    border: 0;

    color: map-get($theme, light);

    font-size: 2rem; 
   
    cursor: pointer;

    &:hover {
      opacity: .7;
    }
    
    &--prev {

    }

    &--next {

    }
  }
}

