.slogan {
  display: flex;

  justify-content: flex-end;
  flex-wrap: wrap;

  height: 100%;
 

  margin-left: auto;
  z-index: 2000; 
  

  @include tablet {
    max-width: 45%;
  }

&__content {
  
  align-self: center;

  padding: 2rem;

  font-size: 2.5rem;

  background-color: rgba(map-get($theme, dark--lighten), .5);
  color: map-get($theme, light);

  opacity: 0;
  

  transition: opacity .3s ease .3s;
  }

}